body{margin:0px; font-family:verdana}
.topnav{padding-top: 0px; height: 33px; width: 100%; background-color: #013ea8; border-top: 1px solid #99beff;}
.icon-bar{background-color:#013ea8}
.mainNavigation ul li {
	margin: 0 10px;
	list-style-type: none;
	display: inline-block;
}
.mainNavigation ul li a {
	color: #4e6672;
	/*font-family: "Arial";*/
	font-size: 16px;
	display: inline-block;
	padding: 20px 10px;
}
.mainNavigation ul li a:hover, 
.mainNavigation ul li a:active {
	text-decoration: none;
	color: #007ab7;
	background-color: transparent;
}
.titleBar{    width: 100%;
    background-color: #013ea8;
    padding-top: 0px;}
.breadcrumbBar{background: #faedc6;
    width: 100%;
    color: #373535 !important;
    /*font-family: "Arial";*/
    font-size: 14px;
    text-decoration: none;}
.breadcrumbBarHome{ padding: 8px; padding-left: 47px; font-size:12px;}
.titleBar h2 {text-align: left;
    padding: 0px;
    color: #ffffff;
    font-size: 17px;
    margin: 10px 0px 10px 44px;}
.dropdownTitle{    text-align: center;
    font-size: 16px;
    margin: 0px auto;
    width: 100%;
	color: #4e6672;}
.subcriptionBtn{color: #fff; background-color:#013ea8 ; border-color:#013ea8 ; font-size: 16px; width: 20%; margin: 5px 45%; border-radius:20px;}
.catsubcriptionBtn{color: #fff; background-color: #013ea8; border-color: #013ea8; font-size: 16px; width: 20%; margin: 5px 45%; border-radius:20px;}
.catsubcriptionBtn:hover, .subcriptionBtn:hover{color: #fff;}
.mycontainer{margin-top: 50px;margin-bottom:30px;}
.mycontainer_inner{margin-top: 20px;margin-bottom:10px;width:87%;}
.catalog{width: 250px;text-align: center;border: none;border-radius: 5px;}
.container-footer{min-height: 46px;background: #013ea8;padding: 6px 30px;}
.container-footer-bottom{min-height: 44px;background: #F4F4F4;}
.design,.design a{color: #fff;line-height: 30px;min-height: 30px;padding: 13px 0 0px 0px;font-size: 1em;}
.design a{margin: 0 10px;}
.mycontainer .panel-body a{text-decoration: none;font-size: 18px; color: #fff;}
.container-footer .design a{text-decoration: underline;}	
.navbar-right-login{width:16% !important;}
/*.container{padding-left:0px !important;padding-right:0px !important;}*/
.subscribebycategory{background-color: #ffd684;height: 100%;margin: 0px auto;}
.subscribebysolution{background-color: #9c818a;height: 100%;margin: 0px auto;}
.mysubscription{background-color: #918ca2;height: 100%;margin: 0px auto;}
.container-footer img{padding:7px 0px;} 
p{color:#337ab7;}
.icon{    margin-bottom: 13px;    height: 60%;}
.icon img{margin:15% 0%;}
.fa-globe:before, .fa-suitcase:before, .fa-user-circle-o {
    color: #fff !important;
}
.txtAlign{text-align:right;}
.navbar-nav {
    float: left;
    margin-top:5px;
	margin-left:65px;
}
 select{ scrollbar-face-color:darkblue;}
.category{
	    padding-bottom: 10px;
}
#frm_add label{
	width: 100px;
    float: left;
    margin-left: 5px;
    margin-bottom: 0px;
}
#frm_add label.error{
	width: 300px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
	color:red;
}

#myNavbar .logo{
	background-image: url(header-logo.jpg);
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100px;
    float: left;
    display: inline-block;
	margin-right: 10px;
}
.breadcrumb li + li:before,           /* selects 2nd+ list items  */
.breadcrumb li + li + li +li:before { /* selects 4th+ list items  */
  color: #ccc;
  content: "|\00a0"; 
}
.subs-breadcrumb{background: #FAEDC6 !important; margin: 0px 0px !important; padding-left: 45px;}
.subs-breadcrumb li{color: #373535 !important; font-size: 12px; text-decoration: none;}
.subs-breadcrumb li a{}
.bottomnav{padding:12px 0px;border-bottom: 6px solid #013ea8;}
.home_breadcrumb{display:none;}
.bottombar-content {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    background: #62a592;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.scrollbar
{
	border:2px solid grey;
	height:210px;
	float: right;
	overflow-y: auto;
	margin-bottom: 25px;
	width: 260px;
}
.force-overflow
{
	/*min-height:300px;*/
}
.force-overflow .list-group li{word-wrap: break-word;}
li{
	list-style-type:none;
}

.force-overflow a, a:hover{
	text-decoration:none;
	cursor:pointer;
}
.force-overflow li:hover {
	background: #d1d1d1 !important;
}
#style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
	border:1px solid #fff;
}
#style::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
#style::-webkit-scrollbar-thumb
{
	background-color: grey  ;
	border-radius: 10px;
	border:1px solid #fff;	

}
.fa{margin:24% 0% !important;}
.icon{height:150px;}
.col-md-offset-1 {
    margin-left: 12.333333% ;
}
.menubar-bottom-one h2{
    text-align: left;
    margin-top: 1px;
    margin-bottom: 10px;
    color: white;
   /*font-family: "Arial";*/
    font-weight: 600;
    font-size: 24px;
}	
.box-size{
	padding:0px !important;
	width: 250px;
    height: 250px
}
.icon-description{height:100px;padding:22px;}
.home-breadcrumb{padding:11px;}	
.header-logo{padding:0px 0px !important;}
.myUL, .myUL2{
	list-style-type: none;
    padding: 0;
    margin: 0;
  
}
.myUL li a, .myUL2 li a {
	margin-top: -1px;
    padding: 7px;
    text-decoration: none;
    font-size: 14px;
    color: #4e6672;
    display: block;
}
.myUL li a:focus, .myUL li a:active,.myUL2 li a:focus, .myUL2 li a:active {color:#fff !important;}
.myUL li a:hover, .myUL2 li a:hover{color:#000 !important;}
.myUL option, .myUL2 option  {
	margin-top: -1px;
    padding: 7px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}
.myUL option:focus, .myUL option:active,.myUL2 option:focus, .myUL2 option:active {color:#fff !important;}
.myUL option:hover, .myUL2 option:hover{color:#000 !important;}
.selected{
	background-color:rgb(51, 122, 183);
	color:#fff !important ;
	border-bottom:5px solid #fff;
}
.label-pos{
	text-align:center;
}
.height_div{
	margin-top:15px;
}
#btnunsubSave{
	margin-left:350px;
}

/*Vidya*/
.Logoheader{
    padding:10px 0px 10px 50px;
}
.MainMenu {
    float: right;padding-top: 54px;
}
.header-logo{display: inline-block;}
h2.header {
display: inline;
    padding-left: 10px;
    position: relative;
    top: 5px;
    color: #4e6672;
    font-size: 22px;
}
.welcomeContainer{
	text-align:right;
	padding-right:30px;
}
.welcomeTxt{
	display: inline-block;
    padding: 0px 10px 0px 0px;
    color: #003db0;
    position: relative;
    bottom: 10px;
}
/* Navigation */
.dropbtn {
	background: url(../images/nav-icon.png) no-repeat transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin-top: 30px;
	outline:none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
	border-radius: 10px;
}

.dropdown-content a {
    color: #4e6672;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align:left;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.filterBox{position:relative;}
.filterBox input{
	display: block;
    width: 270px;
    margin: 20px auto 0px;
    padding: 5px;
    border-radius: 10px;
    color: #4e6672 !important;
    font-size: 12px;
	border: solid 1px lightblue;
	outline:none;
}
.closeBtn {
    position: absolute;
    right: 9%;
    top: 2px;
    cursor: pointer;
}
/* Admin page */
.panel-default>.panel-heading{
	    color: #003db0;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-weight: 600;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px;
}
.panel{    border-radius: 15px;}
.form-inline{
	margin-top:20px;	
}
.AdminBtn{
	    color: #fff;
    background-color: #013ea8;
    border-color: #013ea8;
    font-size: 16px;
    width: 35%;
    border-radius: 20px;
	margin:20px 0px;
}
.AdminBtn:hover{color:#FFFFFF}
.bt_save{
    color: #fff;
    background-color: #013ea8;
    border-color: #013ea8;
    font-size: 14px;
    width: auto;
    border-radius: 20px !important;
    margin: 20px 10px !important;
    padding: 3px 38px;
}
.bt_save:hover{color:#FFFFFF}
.col-md-6.floatLft{
	text-align:right; 
	}
.AlnCen{text-align:center}	